body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Styles for the question mark icon */
#question-mark {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff; /* Change color as needed */
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 999; /* Ensure the icon is on top */
}

/* Instructions styles */
#instructions {
  display: none;
  position: absolute;
  top: 14px; /* Adjusted top position */
  right: 18px;
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 0.5s ease-in-out forwards; /* Apply fade-in animation */
}

/* Animation keyframes for fade in */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




